* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#quiz-area,
#result-area {
    margin-top: 20px;
}

#problem-area {
    margin-top: 20px;
}

#problem {
    font-size: 1.5em;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    width: 100px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

#result {
    font-size: 1.5em;
    margin-top: 20px;
}

#time,
#wrong-attempts {
    font-size: 1.2em;
    margin-top: 10px;
}
